@font-face {
    font-family: "LinkedIn-Glyphs";
    src: url('../fonts/LinkedIn-Glyphs-16px.eot');
    src: url('../fonts/LinkedIn-Glyphs-16px.eot?#iefix') format('embedded-opentype'), url('../fonts/LinkedIn-Glyphs-16px.woff') format('woff'), url('../fonts/LinkedIn-Glyphs-16px.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LinkedIn-Glyphs-2.0.7";
    src: url('../fonts/LinkedIn-Glyphs-16px.eot');
    src: url('../fonts/LinkedIn-Glyphs-16px.eot?#iefix') format('embedded-opentype'), url('../fonts/LinkedIn-Glyphs-16px.woff') format('woff'), url('../fonts/LinkedIn-Glyphs-16px.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

body {
    background: url(../img/bg.png);
    font-family: sans-serif;
}

.phone-images {
    background-color: white;
    width: 450px;
    height: 450px;
    overflow: hidden;
    position: relative;
    float: left;
}

.phones {
    list-style: none;
}

.thumb {
    float: left;
    margin: -0.5em 1em 1.5em 0;
    padding-bottom: 1em;
    height: 100px;
    width: 100px;
}

.phones li {
    clear: both;
    height: 115px;
    padding-top: 15px;
}

/** Detail View **/
img.phone {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    height: 400px;
    width: 400px;
    display: none;
}

img.phone:first-child {
    display: block;
}

ul.phone-thumbs {
    margin: 0;
    list-style: none;
}

ul.phone-thumbs li {
    border: 1px solid black;
    display: inline-block;
    margin: 1em;
    background-color: white;
}

ul.phone-thumbs img {
    height: 100px;
    width: 100px;
    padding: 1em;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}

ul.specs {
    clear: both;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.specs > li {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

ul.specs > li > span {
    font-weight: bold;
    font-size: 1.2em;
}

ul.specs dt {
    font-weight: bold;
}

h1 {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin: 0;
    font-family: arial;
}

.wrapper {
    width: 974px;
    margin: auto;
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
}

.profile-picture {
    height: 240px;
    width: 240px;
    margin: 0;
}

.profile-card .profile-overview {
    padding: 25px 40px;
    width: 734px;
    height: 240px;
    float: right;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
}

div {
    display: block;
}

.title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #434649;
}

a {
    font-size: 13px;
    line-height: 17px;
    color: #66696a;
    font-weight: normal;
    text-decoration: none;
}

.see-more a {
    font-family: arial;
    font-weight: bold !important;
}

p a {
    font-size: 16px !important;
    color: #66696a !important;
}

p a:hover {
    font-size: 16px !important;
    color: #006fa6 !important;
}

.profile-card tr a {
    font-size: 13px;
    line-height: 17px;
    color: #999;
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: #96999c;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #006fa6;
    text-decoration: none;
}

.basic-info {

}

.locality {
    border-left: 1px solid #bbb;
    margin-left: 5px;
    padding-left: 8px;
}

.fluence-icon {
    background-image: url(../img/icon.png);
    background-position: 0px 0px;
    width: 90px;
    height: 22px;
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
}

.degree-icon {
    font-size: 12px;
    font-weight: bold;
}

sup {
    font-weight: normal;
    font-size: 78%;
    top: 0;
}

.account-icon {
    padding: 0;
    float: right;
}

.title-row {
    width: 40px;
}

.profile-card {
    position: relative;
    font-size: 12px;
}

.profile-overview-content {
    padding: 0;
    min-height: 149px;
}

.profile-overview-content:hover .btn-img-edit-20 {
    display: block;
}

.profile-overview-content:hover .btn-img-edit-15 {
    display: block;
}

tr {
    padding-top: 4px;
}

td:first-child {
    padding-right: 20px;
    padding-top: 3px;
}

table {
    margin: 10px 0 0 0;
}

.follower-count {
    font-size: 11px;
    color: #999;
    padding: 7px 0 0 10px;
    line-height: 15px;
    vertical-align: bottom;
    text-align: right;
}

.profile-card strong {
    color: #333;
    font-size: 18px;
    line-height: 18px;
    display: block;
}

.btn-primary {
    padding: 0 10px;
    background: #287bbc;
    border: 1px solid #1b5480;
    height: 31px;
    border-radius: 3px;
    font-size: 13px;
    background-image: -webkit-linear-gradient(top, #287bbc 0%, #23639a 100%);
    background-image: -moz-linear-gradient(top, #287bbc 0%, #23639a 100%);
    background-image: -o-linear-gradient(top, #287bbc 0%, #23639a 100%);
    background-image: linear-gradient(top, #287bbc 0%, #23639a 100%);
    float: left;
}

.profile-aux {
}

.btn-follow {
    border-radius: 3px 0 0 3px;
    font-weight: bold;
}

.btn-dropdown {
    border-radius: 0 3px 3px 0;
}

.follow-supplemental-action {
    margin-top: -2px;
    padding-left: 10px;
    max-width: 100px;
    display: inline-block;
    clear: none;
}

.connect {
    margin-top: 0px !important;
    font-size: 13px !important;
    color: #006fa6 !important;
    font-weight: bold;
}

.connect:hover {
    font-size: 13px !important;
}

.action-description {
    font-size: 12px;
    color: #333;
    font-weight: normal;
}

.group-button {
    display: inline-block;
}

.group-btn {
    display: inline-block;
}

p {
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: justify;
}

.follow-supplemental-action p {
    margin-bottom: 0px !important;
}

.profile-aux p {
    padding: 0;
}

.clear {
    clear: both;
}

.profile-card-extras {
    border-top: dashed 1px #ccc;
    box-shadow: 0 1px 0 #fff inset;
    background: #f6f6f6;
    display: block;
    overflow: hidden;
}

.profile-actions {
    font-size: 11px;
    padding-top: 9px;
    padding-left: 21px;
    float: left;
}

.view-public-profile {
    padding: 0 0 0 19px;
    margin: 0px 10px 0 0;
    background: url(../img/sprite_profile_top_card_v8.png) no-repeat 0 -249px;
}

.view-public-profile:hover {
    background-position: 0 -299px;
}

.show-more-infor {
    float: right;
    display: inline-block;
    border-left: 1px solid #ccc;
    padding: 10px 10px 8px 10px;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    background-image: -moz-linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    background-image: -o-linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    background-image: linear-gradient(top, #ececec 0%, #e1e1e1 100%);
    font-size: 11px;
    vertical-align: middle;
    cursor: pointer;
}

#contact-info-tab {
    vertical-align: middle;
    padding-left: 25px;
    color: #666;
    background: url(../img/sprite_profile_top_card_v8.png) no-repeat 0 -99px;
}

#contact-info-tab:hover {
    background-position: 0 -148px;
    color: #006fa6;
}

.profile {
    background: #fff;
    margin-top: 20px;
}

h2 {
    margin-top: -27.5px;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: 0px;
    background: #333;
    color: #fff;
    font-size: 13px;
    line-height: 17px;
    font-weight: bold;
    padding: 7.5px 20px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: normal;
    font-family: arial;
}

#profile-background {
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

#background {
    margin-top: 0px;
    margin-bottom: 10px;
}

.profile-background {
    background: #fff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.background-section {
    font-size: 13px;
    line-height: 17px;
    color: #333;
    font-weight: normal;
}

.ic_back {
    float: left;
    margin-right: 10px;
}

h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 23px;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    color: #434649;
    font-family: arial, sans-serif;
}

.educations-header h3:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    padding-right: 15px;
    font-size: 32px;
    color: inherit;
    content: "\e03b";
}

.summary-header h3:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    padding-right: 15px;
    font-size: 32px;
    color: inherit;
    content: "\e039";
}

.project-header h3:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    padding-right: 15px;
    font-size: 32px;
    color: inherit;
    content: "\e03e";
}

.skills-header h3:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    padding-right: 15px;
    font-size: 32px;
    color: inherit;
    content: "\e03c";
}

.experience-header h3:before {
    font-family: "LinkedIn-Glyphs-2.0.7", "LinkedIn-Glyphs";
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    speak: none;
    padding-right: 15px;
    font-size: 32px;
    color: inherit;
    content: "\e03a";
}

#background hr {
    border-width: 1px #333;
    display: block;
    border-style: inset;
    margin-top: 25px;
}

#background-project {
    padding-top: 5px;
}

.background-experience .experience-content h1 {
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
}

.organization {
    font-size: 16px;
    color: #66696a;
    font-weight: normal;
    text-decoration: none;
}

.experince-header {
    float: left;
    padding-top: 10px;
}

.project-header {
    float: left;
}

.logo-organization {
    float: right;
    padding-top: 15px;
}

.experince-summary {
    clear: both;
}

.project-summary {
    clear: both;
}

.thumnail {
    background: url(../img/ext1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 136px;
}

.thumnail2 {
    background: url(../img/ext2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 136px;
}

.thumnail3 {
    background: url(../img/ext3.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 136px;
}

.thumnail4 {
    background: url(../img/ext4.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 136px;
}

.thumnail1 {
    background: url(../img/ext.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 136px;
}

.treasury-container-item {
    position: relative;
    background: #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    right: auto;
    width: 49%;
    height: 187px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
}

.treasury-container-item-3col {
    position: relative;
    background: #e8e8e8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    right: auto;
    margin-left: 2%;
    width: 32%;
    height: 187px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
}

.treasury-container-item-3col:first-child {
    margin-left: 0;
}

.title-item {
    margin: 10px 10px;
}

.treasury-container {
    height: 187px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.left-float {
    float: left;
}

.right-float {
    float: right;
}

.see-more {
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
    font-weight: bold !important;
    width: 100px;
}

.prject-item-view {
    margin-top: 15px;
}

h1 a {
    font-size: 16px !important;
    color: #333 !important;
    font-weight: bold;
}

h1 a:hover {
    color: #006fa6 !important;
}

.recommention {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.team-member {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48%;
    display: block;
}

.sumary-info {
    padding-left: 10px;
    vertical-align: middle;
    height: 40px;
}

.comment {
    clear: both;
    padding-top: 5px;
}

.btn-skill {
    border-radius: 3px 0 0 3px;
    font-weight: bold;
    background: #1ba8e5;
    border: 1px solid #1ba8e5 !important;
}

.btn-skill:hover {
    background: #287bbc;
    border: 1px solid #287bbc !important;
}

.btn-skill-detail {
    background: #f0f0f0;
    border: 1px solid #f0f0f0 !important;
    color: #333;
    font-weight: normal !important;
    border-radius: 0 3px 3px 0;
    font-weight: bold;
}

.btn-skill-detail:hover {
    background: #f0f0f0;
    color: #1ba8e5;
}

.btn {
    padding: 0 10px;
    background: #1ba8e5;
    height: 31px;
    border-radius: 3px;
    font-size: 13px;
    float: left;
}

.skill-item {
    padding-top: 10px;
    clear: both;
}

.skill-item-more {
    float: left;
    padding-top: 10px;
    padding-right: 10px;
}

.skill-content:hover .btn-img-edit-15 {
    display: block;
}

.skill {
    font-size: 14px;
    padding-top: 10px;
}

.schools {
    font-size: 16px !important;
    color: #333 !important;
    font-weight: bold;
}

.address {
    font-size: 15px;
    color: #66696a;
    font-weight: normal;
    text-decoration: none;
}

.background-content {
    margin-top: 15px;
}

.skill-top-skill {
    font-size: 14px;
}

td a {
    color: #333 !important;
}

td a:hover {
    color: #006fa6 !important;
}

.recommention-count {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.team-member-count {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}

.summary-title {
    color: #96999c !important;
}

.top-background {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    height: 400px;
}

.profile-wrapper {
    margin-top: -200px;
}

.experience-header {
    float: left;
}

.experience-content {
    clear: both;
}

.project-content {
    clear: both;
}

.project-content:hover .btn-img-edit-15 {
    display: block;
}

.project-item-view {
    clear: both;
    padding-top: 15px;
}

.project-item-view:first-child {
    padding-top: 0px;
}

.educations-content {
    clear: both;
    padding-top: 15px;
}

.educations-content:hover .btn-img-edit-15 {
    display: block;
}

.educations-content:first-child {
    padding-top: 0px;
}

.experience-item-view {
    clear: both;
    padding-top: 15px;
}

.experience-item-view:hover .btn-img-edit-15 {
    display: block;
}

.experience-item-view:first-child {
    padding-top: 0px;
}

.btn-edit {
    vertical-align: middle;
    margin-left: 15px;
}

.modal-body label {
    padding-bottom: 5px;
    padding-top: 15px;
    font-size: 14px;
}

.headline {
    padding-top: 8px;
}

h4 {
    font-family: arial;
}

.modal-title {
    font-weight: bold;
}

.sumaryExperience {
    padding-top: -20px !important;
}

.summaryExperience {
    margin-top: -22px;
}

.other-skill {
    padding-right: 15px;
}


.btn-img-edit-20 {
    background: url(../img/edit_20.png) no-repeat;
    background-position: center center;
    height: 20px;
    width: 20px;
    display: none;
}

.btn-img-edit-20:hover {
    background: url(../img/edit_hover_20.png) no-repeat;
    background-position: center center;
}


.btn-img-edit-15 {
    background: url(../img/edit_15.png) no-repeat;
    background-position: center center;
    height: 15px;
    width: 15px;
    display: none;
}

.btn-img-edit-15:hover {
    background: url(../img/edit_hover_15.png) no-repeat;
    background-position: center center;
}

#background-summary:hover .btn-img-edit-20 {
    display: block;
}

.btn-edit-description {
    margin-top: 0px !important;
}

.btn-edit-15 {
    padding-top: 6px !important;
}
