<!--Edit country Dialog-->
<div class="modal fade" id="EditExperience" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Your Experience</h4>
            </div>
            <div class="modal-body">
                <label>Company Name</label>
                <input type="text" class="form-control" ng-model="companyName=exp.position"/>
                <label>Title</label>
                <input type="text" class="form-control" ng-model="title=exp.organization"/>
                <label>Time</label>
                <input type="text" class="form-control" ng-model="time=exp.time"/>
                <label>Description</label>
                <textarea rows="5" class="form-control" ng-model="description=exp.description"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="save()">Save
                </button>
            </div>
        </div>
    </div>
</div>