<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tuan Nguyen | LinkedIn Profile</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script src="js/controllers.js"></script>
    <script src="js/app.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
</head>

<body ng-app="CVPage" ng-controller="CVPageCtrl">
<div class="view-container">
    <div class="top-background"></div>
    <div ng-view class="view-frame wrapper profile-wrapper">
        <!--Profile card-->
        <div class="profile-card">
            <div class="profile-picture left-float">
                <img src="{{profile.avatar}}" alt="{{profile.firstName}} {{profile.lastName}}" height="240" width="240">
            </div>
            <div class="profile-overview">
                <div class="profile-overview-content">
                    <div class="account-icon"><span><abbr title="Jeff Weiner is a 3rd degree connection"
                                                          class="degree-icon ">3<sup>rd</sup></abbr></span>
                        <a href="#" class="fluence-icon" title="Jeff is a LinkedIn Influencer"></a>
                    </div>
                    <div class="basic-info">
                        <h1 class="left-float"><span>{{profile.firstName + " " + profile.lastName}}</span></h1>
                        <a class="left-float btn-edit" href="#" data-toggle="modal" data-target="#EditNameModal">
                            <div class="btn-img-edit-20"></div>
                        </a>
                        <!--Edit Name Dialog-->
                        <div class="modal fade" id="EditNameModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Edit Name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label>FirstName:</label>
                                        <input type="text" class="form-control" ng-model="firstName" />
                                        <label>LastName:</label>
                                        <input type="text" class="form-control" ng-model="lastName" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveNewName()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <p class="title left-float">{{profile.currentExperience[0].position}} at {{profile.currentExperience[0].organization}}</p>
                        <a class="left-float btn-edit headline" href="#" data-toggle="modal" data-target="#EditCurrentExperienceModal">
                            <div class="btn-img-edit-20"></div>
                        </a>
                        <!--Edit Current Experience Dialog-->
                        <div class="modal fade" id="EditCurrentExperienceModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Update Current Exerience</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label>Current Position:</label>
                                        <input type="text" class="form-control" ng-model="currentPosition" />
                                        <label>Current Company:</label>
                                        <input type="text" class="form-control" ng-model="currentCompany" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveCurrentExperience()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div> <a href="#" class="left-float" title="Find other members in San Francisco Bay Area">{{profile.country}}</a>
                        <a class="locality left-float" href="#" title="Find other members in this industry">{{profile.industry}}</a>
                        <a class="left-float btn-edit" href="#" data-toggle="modal" data-target="#EditLocalModal">
                            <div class="btn-img-edit-15"></div>
                        </a>
                        <!--Edit country Dialog-->
                        <div class="modal fade" id="EditLocalModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Update Your Location</h4>
                                    </div>
                                    <div class="modal-body">
                                        <label>Country:</label>
                                        <input type="text" class="form-control" ng-model="country" />
                                        <label>Industry:</label>
                                        <input type="text" class="form-control" ng-model="industry" />
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveNewLocation()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <table>
                        <tr>
                            <td><a class="summary-title" href="#">Current</a>
                            </td>
                            <td><a href="#" ng-repeat="exp in profile.currentExperience"> {{exp.organization}},</a>
                            </td>
                            <td>
                                <a class="left-float btn-edit" href="#background-experience">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="summary-title" href="#">Previuos</a>
                            </td>
                            <td><a href="#" ng-repeat="exp in profile.previuosExperience">{{exp.organization}}, </a>
                            </td>
                            <td>
                                <a class="left-float btn-edit" href="#background-project">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                            </td>
                        </tr>
                        <tr>
                            <td><a class="summary-title" href="#">Education</a>
                            </td>
                            <td><a href="#" ng-repeat="edu in profile.education">{{edu.schoolName}}, </a>
                            </td>
                            <td>
                                <a class="left-float btn-edit" href="#background-educations">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="profile-aux">
                    <div class="follower-count right-float"><strong>{{profile.followers}}</strong>followers</div>
                    <div class="group-btn">
                        <button class="btn-primary btn-follow" type="button">Follow</button>
                        <button class="btn-primary dropdown-toggle btn-dropdown" type="button" data-toggle="dropdown"> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">View recent activity</a>
                            </li>
                            <li><a href="#">Send {{profile.lastName}} InMail</a>
                            </li>
                            <li><a href="#">Connect</a>
                            </li>
                            <li><a href="#">Share profile</a>
                            </li>
                            <li><a href="#">Save to PDF</a>
                            </li>
                            <li><a href="#">Block or report</a>
                            </li>
                        </ul>
                    </div>
                    <div class="follow-supplemental-action">
                        <p class="action-description">Know {{profile.firstName}}?</p> <a class="connect" href="#">Connect</a>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="profile-card-extras">
                <div class="profile-actions">
                    <ul><a href="{{profile.profilePage}}" class="view-public-profile">{{profile.profilePage}}</a>
                    </ul>
                </div>
                <div class="show-more-infor"><a href="#" id="contact-info-tab">Contact Info</a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="profile">
            <div id="background" class="profile-background">
                <h2>Background</h2>
                <div class="background-content">
                    <!--Summary-->
                    <div id="background-summary">
                        <div class="summary-header">
                            <h3 class="left-float">Summary</h3>
                            <a class="right-float btn-edit" href="#" data-toggle="modal" data-target="#EditSummary">
                                <div class="btn-img-edit-20"></div>
                            </a>
                            <!--Edit Summary Dialog-->
                            <div class="modal fade" id="EditSummary" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit Summary</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>Summary</label>
                                            <textarea class="form-control" rows="15" ng-model="newSummary"></textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveNewSummary()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="summary-content">
                            <p ng-bind-html="profile.summary"></p>
                        </div>
                    </div>
                    <hr/>
                    <!--Experince-->
                    <div id="background-experience">
                        <div class="experience-header">
                            <h3>Experience</h3>
                        </div>
                        <div class="experience-content">
                            <!--Current Experince-->
                            <div class="experience-item-view" ng-repeat="exp in profile.currentExperience">
                                <div class="experince-header">
                                    <h1 class="left-float"><a href="#">{{exp.position}}</a></h1>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditExperience" ng-click="GetCurrentExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                    <p class="left-float"><a href="#">{{exp.organization}}</a>
                                    </p>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditExperience" ng-click="GetCurrentExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                    <p class="left-float">{{exp.time}}</p>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditExperience" ng-click="GetCurrentExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <div class="logo-organization">
                                    <img src="{{exp.logo}}">
                                </div>
                                <div class="experince-summary">
                                    <p class="left-float">{{exp.description}}</p>
                                    <a class="right-float btn-edit summaryExperience" href="#" data-toggle="modal" data-target="#EditExperience" ng-click="GetCurrentExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <!--Edit Current Experience Dialog-->
                                <div class="modal fade" id="EditExperience" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Update Your Experience</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Company Name</label>
                                                <input type="text" class="form-control" ng-model="EditExperienceItem.organization" />
                                                <label>Title</label>
                                                <input type="text" class="form-control" ng-model="EditExperienceItem.position" />
                                                <label>Time</label>
                                                <input type="text" class="form-control" ng-model="EditExperienceItem.time" />
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control" ng-model="EditExperienceItem.description"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveExperience()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="treasury-container" ng-if="isHasValueInArray(exp.post)">
                                    <div class="treasury-container-item left-float">
                                        <div class="thumnail"></div>
                                        <p class="title-item">{{exp.post[0].title}}</p>
                                    </div>
                                    <div class="treasury-container-item right-float">
                                        <div class="thumnail1"></div>
                                        <p class="title-item">{{exp.post[1].title}}</p>
                                    </div>
                                </div>
                                <div class="treasury-container" ng-if="isHasValueInArray(exp.subPost)">
                                    <div class="treasury-container-item-3col left-float">
                                        <div class="thumnail2"></div>
                                        <p class="title-item">{{exp.subPost[0].title}}</p>
                                    </div>
                                    <div class="treasury-container-item-3col left-float">
                                        <div class="thumnail3"></div>
                                        <p class="title-item">{{exp.subPost[1].title}}</p>
                                    </div>
                                    <div class="treasury-container-item-3col left-float">
                                        <div class="thumnail4"></div>
                                        <p class="title-item">{{exp.subPost[2].title}}</p>
                                    </div>
                                </div>
                            </div>
                            <!--Previuos Experince-->
                            <div class="experience-item-view" ng-repeat="exp in profile.previuosExperience">
                                <div class="experince-header">
                                    <h1 class="left-float"><a href="#">{{exp.position}}</a></h1>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditPreviuosExperience" ng-click="GetPreviousExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                    <p class="left-float"><a href="#">{{exp.organization}}</a>
                                    </p>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditPreviuosExperience" ng-click="GetPreviousExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                    <p class="left-float">{{exp.time}}</p>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditPreviuosExperience" ng-click="GetPreviousExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <div class="logo-organization">
                                    <img src="{{exp.logo}}">
                                </div>
                                <div class="experince-summary">
                                    <p class="left-float">{{exp.description}}</p>
                                    <a class="right-float btn-edit summaryExperience" href="#" data-toggle="modal" data-target="#EditPreviuosExperience" ng-click="GetPreviousExperience($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <!--Edit Previous Experience Dialog-->
                                <div class="modal fade" id="EditPreviuosExperience" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Update Your Previous Experience</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Company Name</label>
                                                <input type="text" class="form-control" ng-model="EditPreviousExperienceItem.organization" />
                                                <label>Title</label>
                                                <input type="text" class="form-control" ng-model="EditPreviousExperienceItem.position" />
                                                <label>Time</label>
                                                <input type="text" class="form-control" ng-model="EditPreviousExperienceItem.time" />
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control" ng-model="EditPreviousExperienceItem.description"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SavePreviousExperience()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="recommention-count" ng-if="isHasValueInArray(exp.recommention)">
                                    <p>► {{exp.recommention.length}} recommendation</p>
                                </div>
                                <div class="recommention" ng-repeat="recom in exp.recommention">
                                    <div class="avatar left-float">
                                        <img src="{{recom.avatar}}" width="40px" height="40px">
                                    </div>
                                    <div class="sumary-info left-float"><a class="connect" href="#">{{recom.name}}</a>
                                        <p>{{recom.position}}</p>
                                    </div>
                                    <p class="comment">{{recom.comment}}</p>
                                </div>
                            </div>
                            <div class="see-more"><a href="#"><span>SEE MORE</span></a>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <!--Project-->
                    <div id="background-project">
                        <div class="project-header">
                            <h3>Project</h3>
                        </div>
                        <div class="project-content">
                            <!--Current Project-->
                            <div class="project-item-view" ng-repeat="pr in profile.projects">
                                <div class="project-header">
                                    <h1 class="left-float"><a>{{pr.projectName}}</a></h1>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditProject" ng-click="GetProject($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                    <p class="left-float">{{pr.time}}</p>
                                    <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditProject" ng-click="GetProject($index)">
                                        <div class="btn-img-edit-15"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <div class="logo-organization">
                                    <img src="{{pr.logo}}">
                                </div>
                                <div class="project-summary">
                                    <p class="left-float">{{pr.description}}</p>
                                    <a class="right-float btn-edit sumaryExperience" href="#" data-toggle="modal" data-target="#EditProject" ng-click="GetProject($index)">
                                        <div class="btn-img-edit-15 btn-edit-description"></div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                                <!--Edit Project Dialog-->
                                <div class="modal fade" id="EditProject" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Update Your Project</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Project Name</label>
                                                <input type="text" class="form-control" ng-model="EditProjectItem.projectName" />
                                                <label>Time</label>
                                                <input type="text" class="form-control" ng-model="EditProjectItem.time" />
                                                <label>Description</label>
                                                <textarea rows="5" class="form-control" ng-model="EditProjectItem.description"></textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveProject()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <div class="team-member-count" ng-if="isHasValueInArray(pr.teamMember)">
                                    <p>► {{pr.teamMember.length}} team members, including:</p>
                                </div>
                                <div class="team-member left-float" ng-repeat="member in pr.teamMember">
                                    <div class="avatar left-float">
                                        <img src="{{member.avatar}}" width="40px" height="40px">
                                    </div>
                                    <div class="sumary-info left-float"><a class="connect" href="#">{{member.name}}</a>
                                        <p>{{member.position}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <hr/>
                    <!--Skills-->
                    <div id="background-skills">
                        <div class="skills-header">
                            <h3>Skills</h3>
                        </div>
                        <p class="skill-top-skill" ng-if="isHasValueInArray(profile.topSkills)">Top Skills</p>
                        <div class="skill-content">
                            <div class="skill-item" ng-repeat="skill in profile.topSkills">
                                <button class="btn-primary btn-skill" type="button">{{skill.rate}}</button>
                                <button class="btn-primary btn-skill-detail" type="button">{{skill.skillName}}</button>
                                <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditTopSkill" ng-click="GetTopSkill($index)">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                                <!--Edit Top Skill Dialog-->
                                <div class="modal fade" id="EditTopSkill" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Update Your Top Skill</h4>
                                            </div>
                                            <div class="modal-body">
                                                <label>Skill Name</label>
                                                <input type="text" class="form-control" ng-model="EditTopSkillItem.skillName" />
                                                <label>Rate (If rate is greater than 99, Rate will be scaled to 99+)</label>
                                                <input type="number" class="form-control" ng-model="EditTopSkillItem.rate" />
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveTopSkill()">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <p class="skill" ng-if="isHasValueInArray(profile.otherSkills)">{{profile.firstName}} also knows about...</p>
                        <div class="skill-content">
                            <div class="skill-item-more" ng-repeat="skill in profile.otherSkills">
                                <button class="btn-primary btn-skill" type="button">{{skill.rate}}</button>
                                <button class="btn-primary btn-skill-detail" type="button">{{skill.skillName}}</button>
                                <a class="left-float btn-edit other-skill btn-edit-15" href="#" data-toggle="modal" data-target="#EditOtherSkill" ng-click="GetOtherSkill($index)">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                            </div>
                            <!--Edit Other Skill Dialog-->
                            <div class="modal fade" id="EditOtherSkill" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Update Your Other Skill</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>Skill Name</label>
                                            <input type="text" class="form-control" ng-model="EditOtherSkillItem.skillName" />
                                            <label>Rate (If rate is greater than 99, Rate will be scaled to 99+)</label>
                                            <input type="number" class="form-control" ng-model="EditOtherSkillItem.rate" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveOtherSkill()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <hr/>
                    <!--Education-->
                    <div id="background-educations">
                        <div class="educations-header">
                            <h3>Education</h3>
                        </div>
                        <div class="educations-content" ng-repeat="school in profile.education">
                            <div class="educations-header left-float">
                                <h1 class="left-float"><a href="#">{{school.schoolName}}</a></h1>
                                <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditEducation" ng-click="GetEducation($index)">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                                <p class="left-float"><a href="#">{{school.grade}}</a>
                                </p>
                                <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditEducation" ng-click="GetEducation($index)">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                                <p class="left-float">{{school.time}}</p>
                                <a class="left-float btn-edit btn-edit-15" href="#" data-toggle="modal" data-target="#EditEducation" ng-click="GetEducation($index)">
                                    <div class="btn-img-edit-15"></div>
                                </a>
                                <div class="clear"></div>
                            </div>
                            <div class="logo-organization">
                                <img src="{{school.logo}}">
                            </div>
                            <!--Edit Education Dialog-->
                            <div class="modal fade" id="EditEducation" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Update Your Education</h4>
                                        </div>
                                        <div class="modal-body">
                                            <label>School Name</label>
                                            <input type="text" class="form-control" ng-model="EdiEducationItem.schoolName" />
                                            <label>Grade</label>
                                            <input type="text" class="form-control" ng-model="EdiEducationItem.grade" />
                                            <label>Time</label>
                                            <input type="text" class="form-control" ng-model="EdiEducationItem.time" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="SaveEducation()">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>