<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tuan Nguyen | Login | LinkedIn Profile</title>
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel="stylesheet" href="login_css.css">
</head>

<body ng-app="LoginApp" ng-controller="LoginCtrl">
<div class="container">
    <div id="login" ng-if="show">
        <div class="col-md-6 col-md-offset-3 body-panel">
            <div class="panel panel-default">
                <div class="panel-heading header"><strong>Sign in to continue</strong>
                </div>
                <div class="panel-body">
                    <form role="form" action="#" method="POST">
                        <fieldset>
                            <div class="row">
                                <div class="center-block">
                                    <img class="profile-img" src="img/sc_logo.png" alt="Logo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="center-noti">
                                    <p id="noti">{{notification}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span>
                                            <input class="form-control" placeholder="Email" type="text"
                                                   ng-model="userSignin.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
                                            <input class="form-control" placeholder="Password" type="password"
                                                   ng-model="userSignin.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-md btn-block" value="Sign in"
                                               ng-click="LoginWithEmail()">
                                        <input type="button" class="btn btn-md btn-block bt-facebook"
                                               value="Log In With Facebook" ng-click="LoginWithFacebook()">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer footer">Don't have an account, <a href="#" ng-click="changeShow()"> Sign Up
                    Here</a>
                </div>
            </div>
        </div>
    </div>
    <!--Sign Up-->
    <div id="signup" ng-if="!show">
        <div class="col-md-6 col-md-offset-3 body-panel">
            <div class="panel panel-default">
                <div class="panel-heading header"><strong>Sign Up</strong>
                </div>
                <div class="panel-body">
                    <form role="form" action="#" method="POST">
                        <fieldset>
                            <div class="row">
                                <div class="center-block">
                                    <img class="profile-img" src="img/sc_logo.png" alt="Logo">
                                </div>
                            </div>
                            <div class="row">
                                <div class="center-noti">
                                    <p id="notiSignup">{{notificationSignup}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-addon">
													<i class="glyphicon glyphicon-user"></i>
												</span>
                                            <input class="form-control" placeholder="Email" type="text"
                                                   ng-model="userSignup.email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                                <span class="input-group-addon">
													<i class="glyphicon glyphicon-lock"></i>
												</span>
                                            <input class="form-control" placeholder="Password" type="password"
                                                   ng-model="userSignup.password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-md btn-block" value="Sign up"
                                               ng-click="SignUpWithEmail()">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="panel-footer footer"><a href="#" ng-click="changeShow()">Login with account</a>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>
<script src="login.js"></script>
</body>

</html>